@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: "Courgette", cursive !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#map {
  height: 550px;
  /* width: 400px; */
}

#div-landing {
  position: fixed;
  height: 100%;
  width: 100%;

  background-image: url("/background_pushpin_map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container-landing {
  width: fit-content !important;
  background-color: #f8f9fadb !important;
}

table caption {
  caption-side: top;
}

.clickable-row {
  cursor: pointer;
}

.tab-pane {
  max-height: 500px;
}

.card-header-clickable {
  cursor: pointer;
}

.custom-w-50 {
  width: 50% !important;
}

@media only screen and (max-width: 650px) {
  .custom-w-50 {
    width: 100% !important;
  }
}
